# Auto detect text files and perform LF normalization
* text=auto

# Ignore html files for the repository language classification
*.html linguist-detectable=false

# Ignore css files for the repository language classification
*.css linguist-detectable=false

# Ignore Jupyter notebooks files for the repository language classification
*.ipynb linguist-detectable=false
